
<div class="card mb-1">
    <h5 class="card-header bg-white rock-salt">
        <span class="text-muted raleway">{{cAuthor}}</span>
        <a data-confirm="Are you sure?" data-method="/deleteComment" href="/deleteComment/{{_id}}" rel="nofollow">
            <button class="btn btn-danger float-right">Delete Post</button>
        </a>
    </h5>
    <div class="card-body">
        <h5 class="card-title roboto">{{cContent}}</h5>
    </div>
</div>