
<div class="card mb-1">
    <h5 class="card-header bg-white rock-salt">
        <span class="text-muted raleway">{{cAuthor}}</span>
    </h5>
    <div class="card-body">
        <h5 class="card-title roboto">{{cContent}}</h5>
    </div>
</div>