<div class="card mt-3">
    <h3 class="card-header rock-salt">
        <span class="rock-salt">{{title}}</span>
        <span class="text-muted raleway">-{{author}}</span>

        <form action="deleteComment" method="delete"></form>
            <button class="btn btn-danger float-right" action="deleteQuestion" method="delete">Delete Post</button>
        </form>
    </h5>
    <div class="card-body">
        <h5 class="card-title roboto">{{content}}</h5>
        <a href="#" class="btn btn-sm btn-info">Ahoy!</a>
        <span># of Ahoys: {{likes}}</span>
    </div>
    <div class="card-footer bg-white text-muted">
        <a href="#" class="btn btn-info">Toggle Comments</a>
    </div>
    <div class="card-footer bg-white text-muted">
        <div class="input-group">
            <textarea class="form-control" placeholder="Comment..." aria-label="Comment Submission"></textarea>
            <div class="input-group-append">
                <button class="btn btn-info" type="submit">Post comment</button>
            </div>
        </div>
    </div>
    <div class="card-footer">
        {{#each qComments}}
            {{> comment}}
        {{/each}}
    </div>
</div>