<div class="404 mx-auto">
    <h1 class="rock-salt mx-auto pt-5" style="width:100px;">404</h1>
    <h3 class="raleway mx-auto" style="width:500px;">We'we sowwy, we couwd not find the page you wewe looking fow (｡•́︿•̀｡)</h3>
</div>