<div class="container">
    <div class="btn-group inline sticky-top py-2">
        <button type="button" class="btn btn-info dropdown-toggle roboto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Date</a>
            <a class="dropdown-item" href="#">Ahoys</a>
            <a class="dropdown-item" href="#">Comments</a>
        </div>
    </div>
    <div class="btn-group inline float-right sticky-top py-2">
        <button type="button" class="btn btn-info roboto" data-toggle="modal" data-target="#question-modal">New Question</button>
    </div>
    <div class="modal fade" id="question-modal" tabindex="1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title rock-salt">Yarr matey, what be your inquiry?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="postQuestion" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="title" placeholder="title...">
                            <hr \>
                            <textarea class="form-control" aria-describedby="questionHelp" placeholder="question..."></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Ask</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--These will be dynamically added w/ handlebars-->
    <div class="container mt-5">
        {{#each q}}
            {{> question}}
        {{/each}}
    </div>
    <footer class="fixed-bottom py-1">
        <button type="button" class="btn btn-info float-left ml-5 roboto">Prev Page</button>
        <button type="button" class="btn btn-info float-right mr-5 roboto">Next Page</button>
    </footer>
</div>