<div class="login">
    <div class="container mt-3">
        <div class="card mt-1" style="width: 50%; margin: 0 auto;">
            <h4 class="card-header bg-white rock-salt">
                <span class="rock-salt">Avast! Login below!</span>
            </h4>
            <div class="card-body">
                <form action="login" method="post">
                   <!-- <div class="form-group" style="margin: 0 auto;">-->
                        <input type="text" class="login-form" aria-describedby="loginHelp" name='username' value="Username">
                  <!--  </div>-->
                    <button type="submit" value="Submit" class="btn btn-info float-right">Submit</button>
                </form>
            </div>
        </div>
    </div>                
</div>