.rock-salt {
    font-family: 'Rock Salt', sans-serif
}

.raleway {
    font-family: 'Raleway', sans-serif
}

.roboto {
    font-family: 'Roboto', sans-serif
}

.blue {
    background-color: #82F0F7
}