:root {
    --tan: rgb(251, 255, 206);
    --tan-clear: rgba(251, 255, 206, 0.7);
    --dark-blue: #0f264c;
    --gray: #a8a8a8;
    --dark-gray: #282828;
}

html {
    height: 100%;
    background-image: url("ocean.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tan {
    color: var(--tan);
}

.tan-bg {
    background-color: var(--tan);
}

.tan-bg-clear {
    background-color: var(--tan-clear);
}

.center-text {
    text-align: center;
}

.center {
    margin: auto;
}

.dark-blue {
    color: var(--dark-blue);
}

.dark-gray {
    color: var(--dark-gray);
}

article {
    padding: 5px;
    margin: 15px;
    background-color: var(--tan-clear);
    color: var(--dark-gray);
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

a:hover {
    color: var(--tan);
    cursor: pointer;
}

.gray {
    color: var(--gray);
}

.huge-text {
    font-size: 200%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1px 5px;
}

h1 {
    font-weight: bold;
}

#nav {
    display: flex;
}

.scaled {
    max-width: 30%;
}

.line-container {
    display: flex;
}

.border {
    border: 1px solid var(--dark-blue);
} 

.wide {
    width: 100%;
}

.truly-hidden {
    visibility: hidden;
}

.hidden {
    display: none;
}

.no-margin {
    margin: 0px;
}

.top-bottom-margin {
    margin-top: 15px;
    margin-bottom: 15px;    
}

.no-border {
    border: none;
}

.padded {
    padding: 8px;
}

body {
    font-family: 'PT Serif', serif;
    padding: 0px;
    margin: 0px;
    font-size: 120%;
}

blockquote::before {
    content: "\"";
}

blockquote::after {
    content: "\"";
}

.funny-text {
    font-family: 'Stylish', sans-serif;
}

blockquote {
    padding: 90px;
    padding-bottom: 131px;
    font-size: 120%;
}